html[theme="dark"] {
  --intro-bg-color: #091921;
  --intro-color: #bebfc0;
  --nav-color: var(--intro-color);
  --nav-color-active: rgb(255, 255, 255);
  --config-color: var(--nav-color);
  --section-bg-color: #091921;
  --section-color: rgb(102, 99, 99);
  --footer-bg-color: #07121a;
}
html[theme="light"] {
  --intro-bg-color: #c6c6c6;
  --intro-color: #314d66;
  --nav-color: var(--intro-color);
  --nav-color-active: #2c2c2c;
  --config-color: var(--nav-color);
  --section-bg-color: #ececec;
  --section-color: rgb(161, 161, 161);
  --footer-bg-color: var(--intro-color);
}
$gradient-color: #f00, #3020ff;
$btn-hover: rgb(153, 153, 153);
