.about {
  &__info,
  &__bio {
    display: inline-block;
    padding: 20px 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.9rem;
    width: 100%;
    color: rgb(153, 153, 153);

    @mixin atSmall-width {
      width: 90%;
    }

    @mixin atSmally-width {
      width: 70%;

      @mixin atLarge-height {
        width: 80%;
      }
    }
    @mixin atMedium-width {
      padding: 30px 40px;
      letter-spacing: 2px;

      @mixin atLargest-height {
        width: 90% !important;
      }
    }
    &::after {
      content: "";
      position: absolute;
      right: -10px;
      bottom: 45px;
      transform-origin: 100% 100%;
      transform: rotate(-45deg);
      width: 90px;
      height: 13px;
      border: 1px solid transparent;
      border-image: linear-gradient(to right, $gradient-color);
      border-image-slice: 1;
    }
  }
  &__info {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 1.35rem;

    &--large {
      margin: 20px 0;
      @mixin atMedium-width {
        margin: 0;
        width: 40% !important;
        @mixin atLargest-height {
          width: 50% !important;
          margin-bottom: 50px;
        }
      }
    }
    @mixin atSmally-width {
      @mixin atLarge-height {
        font-size: 1.7rem;
      }
    }
    @mixin atMedium-width {
      width: 35%;
    }
    @mixin atLarge-width {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.5rem;
    }
    @mixin atLargest-width {
      @mixin atLarge-height {
        font-size: 1.6rem;
      }
    }
    &__parag {
      @mixin atSmall-width {
        margin-left: 1rem;
      }
      @mixin atMedium-width {
        margin-left: 0;
      }
      @mixin atLarge-width {
        margin-left: 0.5rem;
      }
      span {
        text-align: right;
        font-weight: 300;
        margin-left: 1rem;
      }
    }
  }
  &__bio {
    margin-bottom: -20px;

    &__link {
      text-align: center;
      margin-bottom: 10px;
    }
    &__parag {
      color: red;

      span {
        color: var(--section-color);
      }
    }

    @mixin atSmally-width {
      @mixin atLarge-height {
        font-size: 1.1rem;
      }
    }
    @mixin atMedium-width {
      margin-bottom: 0;
      width: 50%;

      @mixin atLargest-height {
        font-size: 1.25rem;
      }
    }
    @mixin atLarge-width {
      font-size: 1.2rem;
    }
    @mixin atLargest-width {
      @mixin atLarge-height {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }
}
