.about {
  &__info,
  &__bio {
    display: inline-block;
    padding: 20px 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.9rem;
    width: 100%;
    color: rgb(153, 153, 153);

    @mixin atMedium-width {
      padding: 30px 40px;
      letter-spacing: 2px;
    }
    &::after {
      content: "";
      position: absolute;
      right: -10px;
      bottom: 45px;
      transform-origin: 100% 100%;
      transform: rotate(-45deg);
      width: 90px;
      height: 13px;
      border: 1px solid transparent;
      border-image: linear-gradient(to right, #f00, #3020ff);
      border-image-slice: 1;
    }
  }
  &__info {
    margin-bottom: 40px;
    font-size: 1.35rem;
    @mixin atMedium-width {
      width: 35%;
      margin-bottom: 0;
      font-size: 1.5rem;
    }

    &__parag {
      span {
        text-align: right;
        font-weight: 300;
        margin-left: 1rem;
      }
    }
  }
  &__bio {
    @mixin atMedium-width {
      width: 50%;
      font-size: 1.2rem;
    }
  }
}
