.config {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @mixin atSmall-width {
    top: 15px;
    right: 20px;
  }

  &--header {
    position: static;
    margin-left: 50px;

    .config__theme-controller,
    .config__lang {
      color: var(--config-color);
    }
    .config__theme-controller {
      font-size: 1.3rem;
      @mixin atLargest-width {
        @mixin atLarge-height {
          font-size: 1.5rem;
        }
      }
    }
    .config__lang {
      font-size: 0.8rem;
      @mixin atLargest-width {
        @mixin atLarge-height {
          font-size: 1rem;
        }
      }
    }
  }
  &__lang {
    font-weight: 300;
    font-size: 0.9rem;
    display: flex;

    @mixin atLargest-width {
      @mixin atLarge-height {
        font-size: 1.2rem;
      }
    }
    cursor: pointer;
    a {
      padding: 0 5px;
      text-decoration: none;
      color: var(--config-color);
      &:hover {
        color: var(--nav-color-active);
      }
    }
    li:not(:last-child) {
      border-right: 1px solid var(--config-color);
    }
  }
  &__theme-controller {
    cursor: pointer;
    color: var(--config-color);
    font-size: 1.5rem;
    margin: 0 5px 0 8px;
    position: relative;

    @mixin atLargest-width {
      @mixin atLarge-height {
        font-size: 1.7rem;
      }
    }
    i:hover {
      color: var(--nav-color-active);
    }
    &__items {
      position: absolute;
      top: 38px;
      right: -7px;

      opacity: 0;
      z-index: -10;
      &.active {
        opacity: 1;
        z-index: 100;
      }
      text-transform: uppercase;
      background-color: white;
      width: 400px;

      padding: 20px;
      border-radius: 10px;

      box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      &__item {
        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }
        width: 100%;
        padding: 8px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          border: 1px solid #ccc;
          border-radius: 10px;
          overflow: hidden;
          width: 70px;
          height: 35px;
          display: inline-block;
        }
        h6 {
          font-size: 1rem;
        }
      }
    }
    &__items::before {
      content: "";
      position: absolute;
      right: 10px;
      top: -16px;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      border-bottom: 8px solid white;
    }
  }
}
