.header {
  display: none;
  @mixin atLarge-width {
    display: block;
  }
  @mixin atLargest-width {
    @mixin atLarge-height {
      font-size: 1.1rem;
    }
  }
  padding-top: 20px;
  max-width: 1140px;
  margin: 0 auto;
  &__logo {
    width: 50px;
    display: inline-block;
  }
  &__content {
    position: relative;
    margin-top: 18px;
    float: right;
    display: flex;
    align-items: center;
  }
}
