.header {
  padding-top: 20px;
  &__logo {
    width: 50px;
    display: inline-block;
  }
  &__content {
    position: relative;
    margin-top: 18px;
    float: right;
    display: flex;
    align-items: center;
  }
}
