.intro {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--intro-bg-color);
  &__pro-picture {
    img {
      display: block;
    }
    overflow: hidden;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);

    width: 200px;
    height: 200px;
    top: 7%;

    @mixin atSmall-height {
      width: 250px;
      height: 250px;
    }
    @mixin atMedium-height {
      top: 12%;
    }
    @mixin atSmall-width {
      width: 300px;
      height: 300px;

      @mixin atLarge-height {
        width: 350px;
        height: 350px;
      }
    }
    @mixin atMedium-width {
      @mixin atMedium-height {
        top: 10%;
        width: 300px;
        height: 300px;
      }
      @mixin atLargest-height {
        width: 400px;
        height: 400px;
      }
    }
    @mixin atLarge-width {
      width: 27%;
      height: auto;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      border-radius: 20px;
    }

    &--border {
      border: 1px solid white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 10px;
      border-radius: inherit;
      @mixin atLarge-width {
        margin: 20px;
      }
    }
  }
  &__img-bg {
    img {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  &__parag {
    color: var(--intro-color);
    position: absolute;
    text-align: center;
    letter-spacing: 2px;

    width: 100%;
    top: 60%;

    @mixin atSmall-width {
      padding: 0 15px;
    }

    @mixin atLarge-width {
      width: 56%;

      left: auto;
      top: 50%;
      right: 6%;
      transform: translateY(-50%);
    }
    h1 {
      font-size: 1.5rem;
      font-weight: 200;
      @mixin atMedium-height {
        font-size: 1.7rem;
      }
      @mixin atSmall-width {
        font-size: 1.8rem;
        @mixin atLarge-height {
          font-size: 2.5rem;
        }
      }
      @mixin atMedium-width {
        font-size: 2.4rem;
        @mixin atLarge-height {
          font-size: 3.2rem;
        }
      }
      @mixin atLargest-width {
        font-size: 2.8rem;
      }
    }
    p {
      font-weight: 200;

      font-size: 1.1rem;
      margin: 0.4em;

      @mixin atSmall-height {
        margin: 1em;
      }
      @mixin atMedium-height {
        font-size: 1.3rem;
        margin: 1em;
      }
      @mixin atSmall-width {
        font-size: 1.2rem;
        margin: 0.6em;

        @mixin atLarge-height {
          font-size: 1.8rem;
          margin: 0.9em;
        }
      }

      @mixin atMedium-width {
        font-size: 1.6rem;
        @mixin atLarge-height {
          font-size: 2.4rem;
        }
      }

      @mixin atLargest-width {
        font-size: 1.9rem;
      }
    }
    &__scroll-down {
      position: absolute;
      left: 50%;
      bottom: -30%;
      transform-origin: 50% 100%;
      transform: translateX(-50%);
      transform: rotate(-45deg);
      cursor: pointer;
      opacity: 0.8;
      &__middle {
        font-size: 1.8rem;
        position: relative;
        bottom: 18%;
        color: var(--intro-color);

        @mixin atMedium-width {
          @mixin atLarge-height {
            font-size: 3rem;
          }
        }
        @mixin atLarge-width {
          font-size: 3rem;
        }
      }
      &__middle::before {
        content: "\221F";
        font-size: inherit;
        position: absolute;
      }

      &__middle::before {
        transform: translate(6px, -6px);
        @mixin atMedium-width {
          @mixin atLarge-height {
            transform: translate(10px, -10px);
          }
        }
        @mixin atLarge-width {
          transform: translate(10px, -10px);
        }
      }
    }
  }
}
