.lang {
  font-weight: 100;
  font-size: 0.9rem;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;

  @mixin atSmall-width {
    top: 15px;
    right: 20px;
  }
  cursor: pointer;
  a {
    padding: 0 5px;
    text-decoration: none;
    color: $lang-color;
  }
  li:not(:last-child) {
    border-right: 1px solid $lang-color;
  }
}
