.nav-links {
  display: none;
  position: relative;
  @mixin atMedium-width {
    display: block;
  }

  ul {
    display: flex;
  }
  li {
    margin-left: 0.8rem;
  }
  a {
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--nav-color);
    letter-spacing: 1px;
    padding: 5px 10px;

    @mixin atLarge-width {
      font-size: 1rem;
    }
    @mixin atMedium-width {
      @mixin atLargest-height {
        font-size: 1rem;
      }
    }
    &:hover,
    &:active {
      color: var(--nav-color-active);
    }
    &.active {
      background: linear-gradient(to right, $gradient-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__indicator {
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 1.5px;
    transition: 0.4s;

    background: linear-gradient(to right, $gradient-color);
    z-index: 1;
    border-radius: 2px;
  }
}
