.nav-links {
  display: none;
  position: relative;
  @mixin atMedium-width {
    display: block;
  }

  ul {
    display: flex;
  }
  li {
    margin-left: 0.8rem;
  }
  a {
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--nav-color);
    letter-spacing: 1px;
    padding: 5px 10px;

    @mixin atLarge-width {
      font-size: 1rem;
    }
    @mixin atMedium-width {
      @mixin atLargest-height {
        font-size: 1rem;
      }
    }
    &:hover,
    &:active,
    &.active {
      color: var(--nav-color-active);
      border-bottom: 1px solid var(--nav-color-active);
    }
  }
}
