.row {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @mixin atMedium-width {
    justify-content: space-around;
  }
  &--padding-t-b {
    margin: 70px 0;
  }
  &--1 {
    @mixin atMedium-width {
      flex-direction: row;
      @mixin atLargest-height {
        flex-direction: column;
      }
    }
  }
}
