.section {
  background-color: var(--section-bg-color);
  @mixin atMedium-width {
    @mixin atLargest-height {
      height: 100vh;
    }
  }
  @mixin atLargest-width {
    height: 100vh;
  }
  &--auto-height {
    height: auto;
  }
  &--full-height {
    @mixin atMedium-width {
      @mixin atLargest-height {
        height: 95vh;
      }
    }
    @mixin atLargest-width {
      @mixin atLarge-height {
        height: 95vh;
      }
    }
  }
}
