.section {
  background-color: var(--section-bg-color);
  position: relative;
  @mixin atMedium-width {
    @mixin atLargest-height {
      height: 105vh;
    }
  }
  @mixin atLargest-width {
    height: 100vh;
  }

  &--auto-height {
    height: auto;
  }
  &--full-height {
    @mixin atMedium-width {
      @mixin atLargest-height {
        height: 95vh;
      }
    }
    @mixin atLargest-width {
      @mixin atLarge-height {
        height: 95vh;
      }
    }
    &--always {
      height: 95vh;
    }
    &--no-medium {
      @mixin atMedium-height {
        height: auto;
        padding-bottom: 1px;
      }
      @mixin atLarge-height {
        height: 95vh;
      }
    }
  }
}
